<html>
  <head>
    <title>Bob Ross Canvas</title>
  </head>
  <body>
    <div id="canvasMain">
    <div id="canvasDiv"></div>
    <!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
    <div class="canvas_background">
    <style> 
body {
    background: url(https://media.boingboing.net/wp-content/uploads/2015/10/lovable.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
 	<script type="text/javascript" >
         console.log("it's working");
         tester();
         drawingApp.init();
	</script>
  </div>
  </body>
</html>