<html>
  <head>
    <title>Bob Ross Canvas</title>
  </head>
  <body>
    <div id="canvasMain">
    <div id="canvasDiv"></div>
    <!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
 	<script type="text/javascript" >
         console.log("it's working");
         tester();
         drawingApp.init();
	</script>
  </div>
  </body>
</html>